.header-container {
     width: 100vw;
     transition: all 1s;
     z-index: 3;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0px 30px;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
     height: 70px;
     background-color: black;
}

.header-container.fixed {
     position: fixed;

}

header > h1 {
     color: white;
}
.nav-list > li > a:hover {
     opacity: 0.7;
}

nav {
     display: flex;
     justify-content: space-around;
     align-items: center;
     font-size: var(--roboto-mono);
     height: 70px;
}
.nav-list > li > a {
     font-size: 1.3em;
     text-decoration: none;
     color: white;
}

.nav-list {
     list-style: none;
     display: flex;
     z-index: 3;
}

.nav-list li {
     letter-spacing: 3px;
     margin-left: 32px;
}

.mobile-menu {
     display: none;
     cursor: pointer;
}


@media (max-width: 999px) {
     body {
          overflow-x: hidden;
     }
     .nav-list {
          padding-bottom: 70px;
          position: absolute;
          top: 70px;
          right: 0;
          transform: translateX(100%);
          width: 50vw;
          height: calc(100vh - 70px);
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          background-color: black;
          transition: transform 0.3s ease-in;
          padding: 20px 0px;
     }

     .nav-list li {
          margin-left: 0;     
     }

     .mobile-menu {
          display: block;
     }
     nav > .mobile-menu {
          fill: white;
     }

     nav > .mobile-menu:hover {
          opacity: 50%;
          transition: all 1s;
     }

     .nav-list.active {
          transform: translateX(0);
     }


     @keyframes navLinkFade {
          from {
               opacity: 0;
               transform: translateX(50px);
          }
          to {
               opacity: 1;
               transform: translateX(0);
          }
     }

}