@charset "UTF-8";

.home-container {
     width: 100%;
     min-height: 100vh;
     background-color: var(--cor04);
}

.total-container {
     min-height: 250px;
     background-color: var(--cor02);
     box-shadow: 1px 5px 3px rgba(0, 0, 0, 0.269);
     display: flex;
     align-items: center;
     justify-content: space-around;
     flex-wrap: wrap;
     padding: 20px;
}

.total-container > div {
     text-align: center;
     padding: 30px;
     margin: 20px;
     color: var(--cor04);
     background-color: var(--cor03);
     border-radius: 15px;
     box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.502);
}

.total-container > div > h6 {
     font-weight: lighter;
     color: rgba(255, 255, 255, 0.591);
}

.total-container > div > p {
     font-weight: bold;
     font-size: 2em;
     margin-bottom: 10px;
}

.sub-container {
     width: 100%;
     display: flex;
     align-items: center;
     padding: 20px;
     flex-direction: column;
}

.service-container {
     display: flex;
}


caption {
     font-size: 2em;
     margin: 20px;
     font-weight: 200;
     text-decoration: underline;
}
table {
     border-collapse: collapse;
     width: 90%;
}

td, th {
     border : 1px solid black;
     padding: 10px;
     min-width: 100px;
}

