.loading-container {
     height: calc(100vh - 70px);
     display: flex;
     justify-content: center;
     align-items: center;
}
.loading-container img {
     animation: animate-loading 1s linear infinite;

}

@keyframes animate-loading {
     0% {
          transform: rotate(0deg);
     }
     100% {
          transform: rotate(360deg);
     }
}
     