.service-and-category {
     min-height: calc(100vh - 320px);
     text-align: center;
}
.service-and-category h2 {
     font-size: 3em;
     padding: 40px;
     color: rgba(0, 0, 0, 0.8);
}

.service-and-category .data-container {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     padding: 20px;
}

.service-and-category .data {
     margin: 10px;
     width: 200px;
     border: 1px solid black;
     padding: 20px;
     border-radius: 15px;
     overflow-x: scroll;
}    

.service-and-category .data button {
     padding: 5px;
     border: 1px solid black;
     border-radius: 5px;
     margin: 10px;
     background-color: white;
     cursor: pointer;
}

.service-and-category .data  button:active {
     transition: all 0.1s;
     background-color: black;
     color: white;
}


#form-data > div {
     margin: 20px 0px;
     display: grid;
}

#form-data > div > label {
     font-size: 1.5em;
     font-weight: bold;
     margin-bottom: 10px;
}

#form-data > div > input, #form-data > div > textarea {
     padding: 10px;
     border: 1px solid black;
     border-radius: 5px;
     resize: vertical;
     font-size: 1.1em;
}

#form-data > div > select {
     padding: 5px;
     border: 1px solid black;
     border-radius: 5px;
     font-size: 1.1em;
}

#form-data button {
     padding: 10px 30px;
     border: 1px solid black;
     border-radius: 5px;
}
#form-data button:active {
     transition: all 0.1s;
     background-color: black;
     color: white;
}

.details-data {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}

.details-data > p{
     margin-bottom: 10px;
}



.description-container {
     display: grid;
}

.description-container > textarea {
     margin: 10px 0px;
     border-radius: 10px;
     padding: 10px;
}
